@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* *{
    margin: 0;
    padding: 0;
}

body{
    background-color: #211221;
}

nav{
    display: flex;
    align-self: center;
    
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 90vw;
    background-color: black;
    list-style-type: none;
    text-decoration: none;
    color: wheat;
}
nav ul li{
    padding: 0 8px;

}
nav ul li a{
    text-decoration: none;
    color: rgb(191, 183, 168);
}

.logoImg img{
    width: 25px;
    padding: 0 8px;
}

.logoImg{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.otherButtons{
    display: flex;
    align-items: center;
    padding: 0 8px;
} */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #211221;
    font-family: "Poppins", sans-serif;
}
nav{
    display: flex;
    align-self: center;
    margin: 5px;
    padding: 20px;
   
}
nav ul{
    display: flex;
    /* align-items: center; */
    justify-content: row;
    flex-direction: column;
    height: 25vh;
    width: 24vw;
    background-color: black;
    list-style-type: none;
    text-decoration: none;
    color: whitesmoke;
    border: 2px solid black;
    border-radius: 15px;
   
}
nav ul li{
    padding: 6px 6px;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    font-size: 15px;
    padding: 20px;
}

.logoImg{
    display: flex;
    align-items: center;
    justify-content:start;
    font-weight: bolder;
    font-size: 1rem;
}
.logoImg img{
    width: 20px;
    margin:0 5px;
    /* background-color: white; */

}



.fa-solid,.fa-regular{
    color: whitesmoke;
    padding: 10px;

}

.library{
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 50vh;
    width: 25vw;
    background-color: black;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
}

.fa-regular{
    color: rgb(187, 180, 180); 
}
.libraryTExt{
    color: rgb(187, 180, 180);
    font-weight: bold;
}